<ul class="tasks">
    <li *ngFor="let task of tasks">
        <a routerLink="/projects/{{ task.id }}">
            <span class="badge">{{ task.id }}</span>
            {{ task.name }}
        </a>
    </li>
</ul>