<h1>{{ title }}</h1>

<nav>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/tasks">Tasks</a>
    <a routerLink="/teams">Teams</a>
    <a routerLink="/users">Users</a>
</nav>

<router-outlet></router-outlet>