h1 {
    margin-bottom: 0;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    margin: 10px 0 20px 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}
nav a:hover {
    background-color: #42545C;
    color: white;
}
nav a.active {
    background-color: black;
}