label {
    color: #435960;
    font-weight: bold;
}

input {
    font-size: 1em;
    padding: .5rem;
    margin: 0 0 1rem 0.3rem;
}

button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}