<form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="project">
    <div>

        <div *ngIf="!isAddMode">
            <label>ID</label>
            <input type="number" name="id" [(ngModel)]="project.id" placeholder="ID" readonly>
        </div>

        <div>
            <label>Author ID</label>
            <input type="number" name="authorId" [(ngModel)]="project.authorId" placeholder="Author ID" required>
        </div>

        <div>
            <label>Team ID</label>
            <input type="number" name="teamId" [(ngModel)]="project.teamId" placeholder="Team ID" required>
        </div>

        <div>
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="project.name" placeholder="Name" required>
        </div>

        <div>
            <label>Description</label>
            <input type="text" name="description" [(ngModel)]="project.description" placeholder="Description">
        </div>

        <div>
            <label>Deadline</label>
            <input type="datetime" name="deadline" [(ngModel)]="project.deadline" placeholder="Deadline" required>
        </div>

        <div>
            <label>Created at</label>
            <input type="datetime" name="createdAt" [(ngModel)]="project.createdAt" placeholder="CreatedAt" required>
        </div>

        <button type="submit" [disabled]="form.invalid">Submit</button>
    </div>
</form>