.teams {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
}

input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
}

.teams li {
    cursor: pointer;
    position: relative;
}

.teams li:hover {
    left: .1em;
}

.teams a {
    color: #333;
    text-decoration: none;
    background-color: #eee;
    margin: .5em;
    padding: 0em 0em .45em 0em;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teams a:hover {
    background-color: #e6e6e6;
    color: #2c3a41;
}

.teams a:active {
    background-color: #525252;
    color: #fafafa;
}

.teams .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1.1em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: center;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.add-button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.add-button:hover {
    background-color: #42545C;
    color: white;
}

button.delete {
    position: absolute;
    left: 210px;
    top: 3px;
    background-color: white;
    color: #525252;
    font-size: 1.1rem;
    padding: 1px 10px 3px 10px;
}

button.delete:hover {
    background-color: #525252;
    color: white;
}