<ul class="teams">
    <li *ngFor="let team of teams">
        <a routerLink="/teams/{{ team.id }}">
            <span class="badge">{{ team.id }}</span>
            {{ team.name }}
        </a>
    </li>
</ul>