<a class="add" routerLink="/projects/0">Add</a>

<ul class="projects">
    <li *ngFor="let project of projects">
        <a routerLink="/projects/{{ project.id }}">
            <span class="badge">{{ project.id }}</span>
            {{ project.name }}
        </a>

        <button class="delete" title="delete project" (click)="deleteProject(project)">
            x
        </button>
    </li>
</ul>