<ul class="users">
    <li *ngFor="let user of users">
        <a routerLink="/users/{{ user.id }}">
            <span class="badge">{{ user.id }}</span>
            {{ user.firstName }}
            {{ user.lastName }}
        </a>
    </li>
</ul>